body {
    background-color: rgb(39, 32, 32);
    }
    .mb-3 {
        width: 100px;
        height: 100px;
    }
    label.error {
        color: red;
        font-size: 1rem;
        /* font-weight: bold; */
        display: block;
        margin-top: 5px;
    }
    
    input.error {
        border: 1px solid red;
        /* font-weight:bold; */
        color: red;
    }